.add-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
}

.add-icon:hover {
    background-color: rgb(247, 247, 247);
}

.add-class-dropdown {
    display: none;
    position: absolute;
    top: 40px;
    right: 5px;
    box-shadow: 3px 3px 5px rgb(162, 162, 162);
    width: 120px;
    border-radius: 5px;
    padding: 7px 0;
}

.add-class-dropdown-item {
    background-color: white;
    padding: 1rem;
    width: 100%;
    font-family: "Roboto";
    border-radius: 5px;
    cursor: pointer;
}

.add-class-dropdown-item:hover {
    background-color: rgb(247, 247, 247);
}