nav {
    height: 64px;
}

.left-part {
    padding-left: 16px;
}

.left-part .classroom {
    color: var(--grey-light);
    font-size: 1.3rem;
    line-height: 1.7em;
}

.left-part .section {
    font-size: 12px;
    color: var(--grey-light);
}

.right-part {
    padding-right: 24px;
}

.apps {
    padding: 24px;
}

.nav-hr {
    border-top: 1px solid #e0e0e0;
}