.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: fit-content;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 3px -1px 9px -3px rgba(0, 0, 0, 0.82);
  -webkit-box-shadow: 3px -1px 9px -3px rgba(0, 0, 0, 0.82);
  -moz-box-shadow: 3px -1px 9px -3px rgba(0, 0, 0, 0.82);
  font: inherit;
  padding-right: 7px;
  font-weight: 500;
  font-size: 14px;
  height: 100%;
  width: 300px;
  left: -300px;
  /* animation: 400ms open linear alternate; */
  transition: 400ms left;
  background-color: white;
  z-index: 500;
}
.show-sidebar {
  left: 0px;
}
#close-sidebar {
  position: absolute;
  height: 100vh;
  background-color: transparent;
  z-index: 1;
}
.sidebar-section {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 0.2px solid rgba(0, 0, 0, 0.12);
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.12);
  min-height: 100px;
  min-width: 100%;
}
.sidebar-section:last-child {
  border-bottom: none;
}
.sidebar-section-title {
  padding: 0.5rem 16px;
  color: var(--grey-light);
}

.sidebar-item {
  width: 300px;
  border-radius: 0 2rem 2rem 0;
  padding: 1.2rem 1.5rem;
  cursor: pointer;
}

.sidebar-item:hover {
  background-color: rgba(235, 238, 240, 0.5);
}

.icon {
  width: 24px;
  height: 24px;
}

.todo {
  width: 32px;
}

.side-icon-container {
  margin-right: 1rem;
}

.class-description {
  color: var(--grey-medium);
  font-weight: 400;
}