

/* added by Mohamad Rida */
.padding-left-16px {
    padding: 0px 0px 0px 16px;
  }
  
  .padding-top-s {
    padding: 8px 0px 0px;
  }
  
  .padding-top-24px{
    padding: 24px 0px 0px;
  }
  
  .padding-main-container{
    padding: 48px 40px 36px 40px;
  }
  
  .main-container{
    max-width: 350px;
    margin: 20px auto;
  }
  
  .footer{
    width: 480px;
    margin: 20px auto;
  }
  
  .logo{
    width: 75px;
    height: 25px;
  }
  
  .border{
    border: solid 1px #dadce0;
    border-radius: 8px;
  }
  
  .border-squircle{
    border: solid 1px #dadce0;
    border-radius: 25px;
    padding: 8px;
  }
  
  .create-next{
    margin: 26px 0px 0px -8px;
    padding: 0px 0px 20px;
  }
  
  .email{
    margin: 1px 1px 0px;
    padding: 13px 15px;
  }
  
  .button-container{
    padding: 9px 0px 3px;
  }
  
  .forgot-password{
    margin: 0px;
    padding: 0px 3px;
    background: none;
    border: 0px;
    color: #1A73E8;
  }
  
  .privacy-browsing{
    padding: 9px 0px 3px;
    margin-top: 40px;
  }
  
  .learn-more{
    color: #1A73E8;
    text-decoration: none;
  }
  
  .create-next{
    margin: 26px 0px 0px;
    padding: 0px 0px 20px;
  }
  
  .create-account{
    background: none;
    border: 0px;
    color: #1A73E8;
  }
  
  .next{
    background-color: #1A73E8;
    border-radius: 4px;
    padding: 12px 24px;
    border: none;
  }
  
  .help, .privacy, .terms{
    text-decoration: none;
  }
  
  .sign-in-body{
    margin-top: 70px;
  }
  
  /* font sizes */
  
  .font-24px{
    font-size: 24px;
  }
  
  .font-16px{
    font-size: 16px;
  }
  
  .font-14px{
    font-size: 14px;
  }
  
  .font-12px{
    font-size: 12px;
  }
  
  .checkbox{
    margin-right: 20px;
    outline: 1px solid;
  }