body {
  margin: 0px;
  font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  padding-top: 2rem;
  align-items: center;
}

.form-wrapper {
  width: 450px;
  min-height: 500px;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(204, 199, 199);
}
.form-pad {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 48px;
  padding-bottom: 36px;
}
.form-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-head {
  text-align: center;
}
.form-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3333;
  margin-bottom: 0;
  color: #202124;
}
.form-title-description {
  margin-top: 10px;
  color: #202124;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1.5;
}
.form-input-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
}

.name-field {
  padding: 12px 14px;
  width: -webkit-fill-available;
  font-size: 16px;
  height: 30px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(199, 199, 201);
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 30px;
}

.next-button {
  width: 80px;
  height: 36px;
  background-color: rgb(26, 115, 232);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.875rem;
  letter-spacing: 0.0107142857em;
  font-weight: 500;
  cursor: pointer;
}

.gender-input-container {
  display: flex;
  justify-content: space-between;
}
.gender-field {
  width: 80px;
  height: 30px;
  padding: 13px 15px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(199, 199, 201);
  font-size: 1rem;
  letter-spacing: 0.0107142857em;
  font-weight: 500;
}
