.stream-container {
    color: var(--white);
    margin: auto;
    height: auto;
    width: calc(100% - 3rem);
    max-width: 60rem;
}

.stream-class-info {
    margin-top: 1.5rem;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}

.stream-class-banner {
    border-radius: 0.5rem;
    background-image: url("../assets/images/defaults/default-class-banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    min-height: 240px;
}

.stream-class-name {
    margin: 1rem 1.5rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
}

.stream-class-section {
    font-size: 1.5rem;
    font-weight: 500;
}