:root {
  /* colors */
  --classroom-green: #25a667;
  --classroom-yellow: #f6bb18;
  --classroom-green-secondary: #57bb8a;
  --black-light: #3c4043;
  --black-dark: #000000de;
  --grey-light: #5f6368;
  --grey-dark: #0000008c;
  --white: #ffffff;
  --product-sans: 'Product Sans', Arial, Helvetica, sans-serif;
  --icon-blue: #2962ff;
}
/* font-colors */
.color-green {
  color: var(--classroom-green);
}
.color-green-secondary {
  color: var(--classroom-green-secondary);
}
.color-yellow {
  color: var(--classroom-yellow);
}
.color-black {
  color: var(--black-dark);
}
.color-black-light {
  color: var(--black-light);
}
.color-grey {
  color: var(--grey-dark);
}
.color-grey-light {
  color: var(--grey-light);
}
.color-white {
  color: var(--white);
}
.color-blue {
  color: #2962ff;
}
/* Flex */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: start;
}
.justify-end {
  justify-content: end;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.items-start {
  align-items: start;
}
.items-end {
  align-items: end;
}
.grow {
  flex-grow: 1;
}

.justify-self-end {
  justify-self: end;
}
.justify-self-center {
  justify-self: center;
}
.justify-self-start {
  justify-self: start;
}
.align-self-end {
  align-self: end;
}
.align-self-start {
  align-self: start;
}
.align-self-center {
  align-self: center;
}
.gap-9 {
  gap: 9px;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.gap-60 {
  gap: 60px;
}

/* padding */
.padding-lg {
  padding: 16px 24px;
}
.padding-left-lg {
  padding: 0px 24px;
}
.padding-md {
  padding: 16px;
}
.padding-bot-md {
  padding: 0px 0px 16px;
}
.padding-top-md {
  padding: 16px 0px 0px;
}
.padding-r-md {
  padding: 0px 16px 0px 0px;
}
.padding-sm {
  padding: 12px;
}
.padding-8px {
  padding: 8px;
}
.padding-v-8px {
  padding: 8px 0px;
}

/* added by Mohamad Rida */
.padding-left-16px {
  padding: 0px 0px 0px 16px;
}

.padding-top-s {
  padding: 8px 0px 0px;
}

.padding-top-24px{
  padding: 24px 0px 0px;
}

.padding-main-container{
  padding: 48px 40px 36px 40px;
}

.main-container{
  width: 450px;
  margin: 20px auto;
}

.footer{
  width: 480px;
  margin: 20px auto;
}

.logo{
  width: 75px;
  height: 25px;
}

.border{
  border: solid 1px #dadce0;
  border-radius: 8px;
}

.border-squircle{
  border: solid 1px #dadce0;
  border-radius: 25px;
  padding: 8px;
}

.create-next{
  margin: 26px 0px 0px -8px;
  padding: 0px 0px 20px;
}

.email{
  margin: 1px 1px 0px;
  padding: 13px 15px;
}

.button-container{
  padding: 9px 0px 3px;
}

.forgot-email{
  margin: 0px;
  padding: 0px 3px;
  background: none;
  border: 0px;
  color: #1A73E8;
}

.privacy-browsing{
  padding: 9px 0px 3px;
  margin-top: 40px;
}

.learn-more{
  color: #1A73E8;
  text-decoration: none;
}

.create-next{
  margin: 26px 0px 0px;
  padding: 0px 0px 20px;
}

.create-account{
  background: none;
  border: 0px;
  color: #1A73E8;
}

.next{
  background-color: #1A73E8;
  border-radius: 4px;
  padding: 12px 24px;
  border: none;
}

.help, .privacy, .terms{
  text-decoration: none;
}

.sign-in-body{
  margin-top: 70px;
}

/* font sizes */

.font-24px{
  font-size: 24px;
}

.font-16px{
  font-size: 16px;
}

.font-14px{
  font-size: 14px;
}

.font-13px{
  font-size: 13px;
}

.font-12px{
  font-size: 12px;
}

.checkbox{
  margin-right: 20px;
  outline: 1px solid;
}