:root {
  /* colors */
  --classroom-green: #25a667;
  --classroom-yellow: #f6bb18;
  --classroom-green-secondary: #57bb8a;
  --black-light: #3c4043;
  --black-dark: #000000de;
  --grey-light: #5f6368;
  --grey-medium: #3c4043;
  --grey-dark: #0000008c;
  --white: #ffffff;
  --product-sans: 'Product Sans', Arial, Helvetica, sans-serif;
  --icon-blue: #2962ff;
  --hover-blue: #9ac1e869;
}
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  border-right: 1px solid black;
  font: inherit;
  padding-right: 7px;
  font-weight: 500;
  font-size: 14px;
  height: 100%;
  width: 300px;
  /* animation: 400ms open linear alternate; */
  transition: 400ms left;
}

.sidebar-section {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 0.2px solid rgba(0, 0, 0, 0.12);
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.12);
}
.sidebar-section:last-child {
  border-bottom: none;
}
.sidebar-section-title {
  padding: 0.5rem 16px;
  color: var(--grey-light);
}

.sidebar-item {
  width: 300px;
  border-radius: 0 2rem 2rem 0;
  padding: 1.2rem 1.5rem;
}

.sidebar-item:hover {
  background-color: var(--hover-blue);
}

.icon {
  width: 24px;
  height: 24px;
}

.todo {
  width: 32px;
}

.side-icon-container {
  margin-right: 1rem;
}

.class-icon {
  width: 32px;
  height: 32px;
  background-color: green;
  text-align: center;
  color: white;
  font-size: 1rem;
}

.class-title {
  font-weight: 400;
  color: var(--black-dark);
}

.class-details {
  font-weight: 200;
  font-size: 14px;
  width: 100%;
}

.class-description {
  width: 87%;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@keyframes open {
  from {
    left: -300px;
  }
  to {
    left: 0%;
  }
}
